@page "/"
@using Engine.Interfaces
@inject Engine.Implementations.GameOfLife _game
@inject Engine.Implementations.RandomEnder _ender
@inject SquareLandReseatable _land
@inject HtmlObserver _observer
@inject Engine.Implementations.ClassicGod _god
@inject IJSRuntime JsRuntime

<PageTitle>Game of Life</PageTitle>

<h1>Game of Life</h1>

<button @onclick="Play">Again</button>
<button @onclick="Previous">Previous</button>
<button @onclick="Next">Next</button>
<hr />

@((MarkupString)@_observer.Logger)


@code {
    private Stack<IGameSnapshot> History = new Stack<IGameSnapshot>();

    protected override void OnInitialized()
    {
        Play();
    }

    public void Play()
    {
        _game.Initialize(_land, _god, _observer);
        _game.Start();
        History.Push(_game.CreateSnapshot());
    }

    public void Next()
    {
        //if (_ender?.ShouldContinue() ?? false)
        //{
        _game.Next();
        History.Push(_game.CreateSnapshot());
        //}
    }
    public void Previous()
    {
        if (History.Count > 0)
        {
            Console.WriteLine("previous");
            History.Pop().RestoreState();
        }
    }
}
